/* author: afzx.ahmad */

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 24px;
    line-height: 48px;
    font-family: 'Segoe UI';
    color: white;
    background-color: pink;
}

.page_container{
    height: 100vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.timer{
    margin-top: 23px;
    margin-bottom: 33px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.timer.hide{
    display: none;
    overflow: hidden;
}
